<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
    <handlers>
        <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
   	<add name="FlaskHandler64" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\python396-32\python.exe|C:\inetpub\wwwroot\e_lki\elki_venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" />
    	<remove name="WebDAV" />
  </handlers>
   <modules>
    <remove name="WebDAVModule" />
  </modules>
</system.webServer>
<appSettings>
  <add key="WSGI_HANDLER" value="run.app" />
  <add key="PYTHONPATH" value="C:\inetpub\wwwroot\e_lki\elki_venv\;C:\inetpub\wwwroot\e_lki\elki_venv\Lib\site-packages" />
</appSettings>
</configuration>